.movie-app .row {
  flex-wrap: nowrap;
  overflow-x: auto;
}
.movie-app img {
  width: 300px;
  height: 300px;
}
.movie-app {
  margin-bottom: 48px;
}
.movie-app .row::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 321px){
  .movie-app img{
    width: 200px;
    height: 200px;
  }
}