@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}
header {
  background-color: #292929;
  height: 140px;
  display: flex;
  align-items: center;
}
header .logo {
  color: white;
  height: 60px;
  width: 193px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.intro {
  background-image: url("./assets/crowd.png");
  width: 100%;
  height: 550px;
  object-fit: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  margin-bottom: 63px;
}
.intro-text {
  color: white;
  font-size: 72px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  margin-left: 20px;
}
.int-text {
  font-size: 24px;
}
.empty {
  font-size: 40px;
  margin: 20px 0;
}
.search-box {
  height: 54px;
  border: 1px solid black;
  width: 99%;
}
.search-field {
  width: 90%;
  margin: 0 auto;
}
.search-field .search-text {
  margin-top: 63px;
  font-family: "DM Sans";
  font-weight: "regular";
  line-height: 31.25px;
  font-size: 24px;
  margin-bottom: 4px;
}
.list {
  margin-top: 48px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 600px) {
  .intro-text {
    font-size: 72px;
    margin-left: 77px;
  }
  header .logo {
    margin-left: 77px;
  }
}

/*responsiveness for ipad 11 pro*/
@media screen and (max-width: 834px) {
  header {
    justify-content: center;
  }
  .intro-text {
    text-align: center;
    margin-left: 0;
  }
  .intro {
    justify-content: center;
    margin-left: 0;
  }
  header .logo{
     margin-left: 0;
  }
}
/*responsiveness for iphone SE*/
@media screen and (max-width: 321px) {
  header {
    height: 67px;
  }
  header .logo {
    height: 33.58px;
    font-size: 15px;
    width: 108px;
  }
  .intro {
    height: 257px;
    margin-bottom: 56px;
  }
  .intro-text {
    font-size: 28px;
  }
  .search-text {
    font-size: 16px;
  }
  .search-box {
    height: 34px;
  }
  .empty {
    font-size: 20px;
  }
}
